#container {
  display: grid;
  grid-template-columns: repeat(16, 55px);
  grid-template-rows: repeat(16, 55px);
  justify-content: center;
}

.square {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}
